    <!-- form start -->
    
      <%= form_tag(rides_path, class: 'form-inline', method: :get) do %>
      <span class="center-form">
        <div class="form-group fill-origin">
          <%= text_field_tag :origin, params[:origin], class: 'form-control origin-input-nav', placeholder: "Origin" %>
          <%= hidden_field_tag :lat, params[:o_dummy_1], class: 'form-control origin-lat' %>
          <%= hidden_field_tag :lng, params[:o_dummy_2], class: 'form-control origin-lng' %>
          <%= hidden_field_tag :origin_lat, params[:o_dummy_3], class: 'form-control' %>
          <%= hidden_field_tag :origin_lng, params[:o_dummy_4], class: 'form-control' %>
        </div>
        <div class="form-group fill-destination">
          <%= text_field_tag :destination, params[:destination], class: 'form-control  destination-input-nav', placeholder: "Destination" %>
          <%= hidden_field_tag :lat, params[:d_dummy_1], class: 'form-control destination-lat' %>
          <%= hidden_field_tag :lng, params[:d_dummy_2], class: 'form-control destination-lng' %>
          <%= hidden_field_tag :destination_lat, params[:d_dummy_3], class: 'form-control' %>
          <%= hidden_field_tag :destination_lng, params[:d_dummy_4], class: 'form-control' %>
        </div>
        <div class="form-group">
          <input class="form-control input-date-nav" id="date" placeholder="Date" name="date">
        </div>
        <button type="submit" class="btn btn-default" id="find-pal">Find A Ride</button>
        </span>
      <% end %>
      
      <!-- form end -->

<script type="text/javascript">
  $("#date").datepicker({
    dateFormat: "dd-mm-yy"
  });
</script>