<!-- form start -->
<%= form_tag(rides_path, class: 'form-inline', method: :get) do %>
  <% if user_signed_in? %>
    <div id="time-range">
        <p>
            Time Range: <span class="slider-time">12:00 AM</span> - <span class="slider-time2">11:59 PM</span>
        </p>
        <div class="sliders_step1">
            <div id="slider-range"></div>
        </div>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group fill-origin">
      <%= label_tag 'origin', "I am going from . ." %><br />
      <%= text_field_tag :origin, session[:origin], class: 'form-control origin-input-nav', placeholder: "Origin" %>
      <%= hidden_field_tag :lat, session[:origin_lat], class: 'form-control origin-lat' %>
      <%= hidden_field_tag :lng, session[:origin_lng], class: 'form-control origin-lng' %>
      <%= hidden_field_tag :origin_lat, session[:origin_lat], class: 'form-control' %>
      <%= hidden_field_tag :origin_lng, session[:origin_lng], class: 'form-control' %>
    </div>
    <div class="form-group fill-destination">
      <%= label_tag 'destination', "to . ." %><br />
      <%= text_field_tag :destination, params[:destination], class: 'form-control  destination-input-nav', placeholder: "Destination" %>
      <%= hidden_field_tag :lat, session[:destination_lat], class: 'form-control destination-lat' %>
      <%= hidden_field_tag :lng, session[:destination_lng], class: 'form-control destination-lng' %>
      <%= hidden_field_tag :destination_lat, session[:destination_lat], class: 'form-control' %>
      <%= hidden_field_tag :destination_lng, session[:destination_lng], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <input class="form-control input-date-nav" id="date_filter" placeholder="Date" name="date_filter" value="<%= session[:date_filter] || session[:date] %>">
  </div>
  <%= hidden_field_tag :time_left, params[:left_time] %>
  <%= hidden_field_tag :time_right, params[:right_time] %>
  <br />
  <div class="form-group">
    <button type="submit" class="" id="find-pal"><span class="glyphicon glyphicon-search"></span></button>
  </div>
<% end %>
<!-- form end -->

<script type="text/javascript">
  // datepicker
  $("#date_filter").datepicker({
    dateFormat: "dd-mm-yy"
  });

  // geocomplete origin
  $("#origin").on('click', function(){
    $(this).geocomplete({
      details: ".fill-origin"
    });
  });

  // geocomplete destination
  $("#destination").on('click', function(){
    $(this).geocomplete({
      details: ".fill-destination"
    });
  });

  // Passing values to origin_lat and origin_lng on submit
  $("#find-button").on('click', function(){
    if ($('#origin_lat').is(':empty')){
      $("#origin_lat").val($(".origin-lat").val());
      $("#origin_lng").val($(".origin-lng").val());
      $("#destination_lat").val($(".destination-lat").val());
      $("#destination_lng").val($(".destination-lng").val());
    }
  });
</script>