<%= render partial: 'rides/routemap' %>

<div class="container">
  <div class="row">

    <div class="col-md-offset-1 col-md-10">
    <%= render partial: 'static_pages/form' %>
    </div>

    <div class="col-md-2">
      <% if user_signed_in? %>
        <div class="bfh-timepicker" id="timepicker1" data-time="now"></div>
        <div class="bfh-timepicker" id="timepicker2" data-time="now">
        </div>
      <% end %>
    </div>

    <!-- <th>ID</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Departure Date</th> -->

<div class="col-md-8">

   <% @rides.each do |ride| %>
  <a href="<%= ride_path(ride) %>">
    <div class="well" id="ride-<%= ride.id %>">
      <%= ride.id %>
      <%= ride.origin %>
      <%= ride.destination %>
      <%= ride.departure_date %>
    </div>
  </a>
  <% end %>
</div><!-- end of col-md-8 for rides listing -->
</div><!-- row end -->
</div><!-- container end -->
 <script type="text/javascript">
  $('#timepicker1').timepicker();
  $('#timepicker2').timepicker();
</script>