<%= render partial: 'rides/routemap' %>
<div class="container">
<!-- form start -->
<%= form_tag(rides_path, class: 'form-inline', method: :post) do %>
<div class="row">
  <div class="form-group fill-origin col-sm-offset-2 col-sm-4">
    <%= text_field_tag :origin, session[:origin], class: 'form-control form-input-modify', placeholder: "Origin" %>
    <%= hidden_field_tag :lat, session[:origin_lat], class: 'form-control origin-lat' %>
    <%= hidden_field_tag :lng, session[:origin_lng], class: 'form-control origin-lng' %>
    <%= hidden_field_tag :origin_lat, session[:origin_lat], class: 'form-control' %>
    <%= hidden_field_tag :origin_lng, session[:origin_lng], class: 'form-control' %>
  </div>
  <div class="form-group fill-destination col-sm-4">
    <%= text_field_tag :destination, session[:destination], class: 'form-control form-input-modify', placeholder: "Destination" %>
    <%= hidden_field_tag :lat, session[:destination_lat], class: 'form-control destination-lat' %>
    <%= hidden_field_tag :lng, session[:destination_lng], class: 'form-control destination-lng' %>
    <%= hidden_field_tag :destination_lat, session[:destination_lat], class: 'form-control' %>
    <%= hidden_field_tag :destination_lng, session[:destination_lng], class: 'form-control' %>
  </div>
</div><!-- Row of origin and destination -->

  <div class="row bottomrowmargin">
  <div class="form-group col-sm-offset-2 col-sm-4">
    <input class="form-control form-input-modify" id="date" placeholder="Date" name="date" value="<%= session[:date_filter] || session[:date] %>">
  </div>

  <div class="form-group col-sm-4">
    <input class="form-control form-input-modify" id="time" placeholder="Time" name="time">
  </div>
  </div>
  <div class="row">
  <button type="submit" class="newridecreate" id="find">Create a new ride</button>
  </div>
<% end %>
<!-- form end -->

</div><!-- container ends here -->
<%= render partial: 'static_pages/footer' %>
<script>

$(document).ready(function(){
  $('#time').timepicki();
  // Origin
  // $("#origin").on('click', function(){
  //   if (!($('.map-canvas-origin').length)){ // origin map not present
  //     console.log("Origin Map: " + $('.map-canvas-origin').length);
  //     $(".map-canvas-destination").remove();
  //     $("#carousel-example-generic").remove();
  //     var mapCanvasOrigin = "<div class='map-canvas-origin'></div>"
  //     $(".toggle-map").append(mapCanvasOrigin);
  //   }
  //   else{ // origin map present
  //     $(".map-canvas-destination").remove();
  //     $("#carousel-example-generic").remove();
  //     // var mapCanvasOrigin = "<div class='map-canvas'></div>"
  //     // $(".toggle-map").append(mapCanvasOrigin);
  //   }

    $('#origin').geocomplete({
      // map: ".map-canvas-origin",
      details: ".fill-origin",
      markerOptions: {
        draggable: true
      }
    });

    // $("#find").click(function(){
    //   $("#geocomplete").trigger("geocode");
    // });

  //   $(this).bind("geocode:dragged", function(event, latLng){
  //     $(".origin-lat").val(latLng.lat());
  //     $(".origin-lng").val(latLng.lng());
  //   });

  // }); // end of origin


  // Destination
  // $("#destination").on('click', function(){
    // if (!($('.map-canvas-destination').length)){ // destination map not present
    //   $("#carousel-example-generic").remove();
    //   $('.map-canvas-origin').remove();
    //   var mapCanvasDestination = "<div class='map-canvas-destination'></div>"
    //   $(".toggle-map").append(mapCanvasDestination);
    // }
    // else{ // destination map present
    //   $(".map-canvas-origin").remove();
    //   $("#carousel-example-generic").remove();
    //   // var mapCanvasOrigin = "<div class='map-canvas'></div>"
    //   // $(".toggle-map").append(mapCanvasOrigin);
    // }

    $('#destination').geocomplete({
      map: ".map-canvas-destination",
      details: ".fill-destination",
      markerOptions: {
        draggable: true
      }
    });

    // $("#find").click(function(){
    //   $("#geocomplete").trigger("geocode");
    // });

  //   $(this).bind("geocode:dragged", function(event, latLng){
  //     $(".destination-lat").val(latLng.lat());
  //     $(".destination-lng").val(latLng.lng());
  //   });
  // }); // end of destination   


  // Passing values to origin_lat and origin_lng
  $("#find").on('click', function(){
    $("#origin_lat").val($(".origin-lat").val());
    $("#origin_lng").val($(".origin-lng").val());
    $("#destination_lat").val($(".destination-lat").val());
    $("#destination_lng").val($(".destination-lng").val());
  });
});

</script>