<!-- div.new-ride -->
<div class="new-ride">  
  <!-- layouts/header -->
  <%= render partial: 'layouts/header' %>
  <!-- /layouts/header -->
  <!-- div.new-ride-wrapper -->
  <div class="container new-ride-wrapper">
    <!-- div.new-ride-form -->
    <div class="col-md-6 new-ride-form">
      <!-- rides/error -->
      <% if @errors && !@errors.empty? %>
        <%= render partial: 'rides/error' %>
      <% end %>
      <!-- /rides/error -->
      <%= form_tag(rides_path, class: 'form-inline', method: :post) do %>
      <div class="row">
        <!-- div.fill-origin -->
        <div class="form-group fill-origin">
          <%= label_tag :origin, "From eg: Gachibowli.." %>
          <%= text_field_tag :origin, session[:origin], class: 'form-control form-input-modify', placeholder: "Origin" %>
          <%= hidden_field_tag :lat, session[:origin_lat], class: 'form-control origin-lat' %>
          <%= hidden_field_tag :lng, session[:origin_lng], class: 'form-control origin-lng' %>
          <%= hidden_field_tag :origin_lat, session[:origin_lat], class: 'form-control' %>
          <%= hidden_field_tag :origin_lng, session[:origin_lng], class: 'form-control' %>
        </div>
        <!-- /div.fill-origin -->
      </div>
      <div class="row">
        <!-- div.fill-destination -->
        <div class="form-group fill-destination">
          <%= label_tag :origin, "To eg: Hitech City.." %>
          <%= text_field_tag :destination, session[:destination], class: 'form-control form-input-modify', placeholder: "Destination" %>
          <%= hidden_field_tag :lat, session[:destination_lat], class: 'form-control destination-lat' %>
          <%= hidden_field_tag :lng, session[:destination_lng], class: 'form-control destination-lng' %>
          <%= hidden_field_tag :destination_lat, session[:destination_lat], class: 'form-control' %>
          <%= hidden_field_tag :destination_lng, session[:destination_lng], class: 'form-control' %>
        </div>
        <!-- /div.fill-destination -->
      </div>

      <div class="row">
        <!-- div.fill-date-time -->
        <div class="form-group date-time">
          <div class="date-wrapper">
            <% date = Time.now.strftime("%d-%m-%Y") %>
            <%= label_tag :origin, "On date eg: #{date}" %>
            <input class="form-control form-input-modify" id="date_new" placeholder="Date" name="date" value="<%= session[:date_filter] || session[:date] %>">
          </div>
          <div class="time-wrapper">
            <% time = Time.now.strftime("%I : %M : %p") %>
            <%= label_tag :origin, "At time eg: #{time}" %>
            <input class="form-control form-input-modify" id="time" placeholder="Time" name="time">
          </div>
        </div>
        <!-- /div.fill-date-time -->
      </div>

      <div class="row">
        <!-- div.tnc -->
        <div class="tnc">
          <%= check_box_tag :terms_and_conditions, "I hereby accept the Terms and Conditions and the risks involved with initiating a ride" %>
          <%= label_tag :terms_and_conditions, "I hereby accept the Terms and Conditions and the risks involved with initiating a ride" %>
        </div>
        <!-- /div.tnc -->
      </div>

      <div class="row">
        <button type="submit" class="create-ride-button" id="crb">Create Ride</button>
      </div>
      <% end %>
    </div>
    <!-- /div.new-ride-form -->

  <div class="col-md-1"></div>

  <!-- div.routemap-independent -->
  <div class="col-md-5 routemap-independent">
    <%= render partial: 'rides/routemap_independent' %>
  </div>
  <!-- /div.routemap-independent -->
  </div>
  <!-- /div.new-ride-wrapper -->
</div>
<!-- /div.new-ride -->


<script>
$(document).ready(function(){
  console.log("on ride/new page");
  $('#time').timepicki();
  $("#date_new").datepicker({
    dateFormat: "dd-mm-yy"
  });
  // Origin
  $("#origin").on('focus', function(){
    // console.log("focussed origin");
    $('#origin').geocomplete({
      details: ".fill-origin"
    });
  }); // end of origin


  // Destination
  $("#destination").on('focus', function(){
      // console.log("focussed destination");
      $('#destination').geocomplete({
        details: ".fill-destination"
      });
    }); // end of destination   

  // Passing values to origin_lat and origin_lng
  $("#crb").on('click', function(e){
    // console.log("clicked create ride button");
    // console.log("----- Previous Values -----");
    // console.log("Origin Lat Input Field Value" + $("#origin_lat").val());
    // console.log("Origin Lng Input Field Value" + $("#origin_lng").val());
    // console.log("Origin Lat Hidden Field Value" + $(".origin-lat").val());
    // console.log("Origin Lng Hidden Field Value" + $(".origin-lng").val());
    // console.log("Destination Lat Input Field Value" + $("#destination_lat").val());
    // console.log("Destination Lng Input Field Value" + $("#destination_lng").val());
    // console.log("Destination Lat Hidden Field Value" + $(".destination-lat").val());
    // console.log("Destination Lng Hidden Field Value" + $(".destination-lng").val());
    
    // console.log("xxxxxxxxxxxxxxx   Copying Values   xxxxxxxxxxxxxxx");
    $("#origin_lat").val($(".origin-lat").val())
    // $("#origin_lat").val($(".origin-lat").val());
    $("#origin_lng").val($(".origin-lng").val());
    $("#destination_lat").val($(".destination-lat").val());
    $("#destination_lng").val($(".destination-lng").val());
    // console.log("xxxxxxxxxxxxxxx   Copying Done   xxxxxxxxxxxxxxx");

    // console.log("----- New Values -----");
    // console.log("Origin Lat Input Field Value" + $("#origin_lat").val());
    // console.log("Origin Lng Input Field Value" + $("#origin_lng").val());
    // console.log("Origin Lat Hidden Field Value" + $(".origin-lat").val());
    // console.log("Origin Lng Hidden Field Value" + $(".origin-lng").val());
    // console.log("Destination Lat Input Field Value" + $("#destination_lat").val());
    // console.log("Destination Lng Input Field Value" + $("#destination_lng").val());
    // console.log("Destination Lat Hidden Field Value" + $(".destination-lat").val());
    // console.log("Destination Lng Hidden Field Value" + $(".destination-lng").val());
  });

});

</script>