<%= render partial: 'rides/routemap' %>
<div class="container">
  <%= link_to "Join", ride_path(@ride) , method: :patch %>
  <%= render partial: 'rides/comment', collection: @comments %>
  <div class="row">
    <%= form_for([@ride, @comment]) do |f| %>
      <%= f.text_field :body, class: 'form-control' %>
      <%= f.submit :submit %>
    <% end %>
  </div>
</div>