<!DOCTYPE html>
<html>
<head>
  <title>Cabshare</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
  <script src="http://jdewit.github.io/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <link rel="stylesheet" href="http://bootstrapformhelpers.com/assets/css/bootstrap-formhelpers.min.css">
  <script type="text/javascript" src="http://bootstrapformhelpers.com/assets/js/bootstrap-formhelpers.min.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
</head>
<body>
  <% if request.path == "/" %>
    <%= render partial: 'layouts/header_home' %>
  <% else %>
    <%= render partial: 'layouts/header' %>
  <% end %>
<%= yield %>

</body>
</html>
